.app-card {
  background-color: #2746F8 !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.font-size-app {
  font-size: 1.5rem;
  font-weight: 700 !important;
}

.width-responsive-app {
  width: auto !important;
  color: #2746F8 !important;
  font-weight: 500 !important;
}

@media (max-width: 768px) {
  .width-responsive-app {
    width: 50% !important;
  }
}

#upcomingAppt {
  background-color: #EBFCFF !important;
  border: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem !important;
  border: none !important;
}

#screeningHistory {
  width: 90%;

}

.app-card-body-real {
  background-color: #EBFCFF !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}